*
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.navbar{
    background-color: rgb(181, 228, 255);
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 5px;
    height: 70px;
}
img{
    height:160px;
    width:200px;
    margin-top: 5px;
    padding: 5px;
}
.nav_list{
    list-style: none;
    color: rgb(70, 206, 237);
    padding-left: 500px;
}

.nav_list .list_items{
    display:inline-block;
    padding: 10px 5px;
    gap: 50px;
}
.nav_list a{
    text-decoration: none;
    padding: 10px;
    background-color: rgb(72, 152, 255);
    border-radius: 5px;
    color: rgb(249, 250, 251);
}

.nav_list a:hover{
    background-color: rgb(154, 216, 255);
    border-radius: 5px;
    color: rgb(11, 112, 213);
}

.about-us{
    background-color: rgb(70, 153, 248);
    height: 380px;
    border: 25px;
    padding-left: 150px;
    padding-right: 150px;
    display: flex;
    flex-direction: column;
    
}
.about-us-info{
    padding: 20px 40px;
    align-self: center;
    font-weight: bolder;
    font-size: 45px;
    color: antiquewhite;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.sub_info{
    padding: 40px 20px ;
    color: rgb(146, 237, 255);
    align-self: center;
    font-size: 30px;
    text-align: center;
}

.sub_info:hover{
    color: darkblue;
    background-color: white;
    border-radius: 190px;
    font-style: italic;
}
.services{
    display: flex;
    flex-direction: column;
    height: 250px;
    background-color: rgb(180, 226, 255);
    padding: 40px 20px;
}

.services-title{
    align-self: center;
    color: rgb(18, 114, 238);
    font-size: 25px;
}

.services-list1{
  display: flex;
  justify-content:space-around;
}
.list1{
    align-items: center;
    padding: 20px;
    list-style: none;
    color: white;
}
.list_names{
    margin: 5px;
    padding: 8px 12px;
    text-align: center;
    border: solid 5px rgb(87, 142, 194);
    background-color: rgb(28, 96, 160);
    border-radius: 30px;
}

.list_names:hover{
    background-color: white ;
    color: rgb(89, 163, 237);
    border-style:outset;
    border-color: rgb(79, 151, 244);
}

.contact{
    display: flex;
    flex-direction: column;
    height: 200px;
    background-color: rgb(255, 255, 255);
    padding: 40px 20px;
}

.contact-details{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 40px;
}

strong{
    padding-left: 5px;
    word-spacing: 8px;
}

.address{
    display: flex;
    flex-direction: column;
    height: 150px;
    background-color: rgb(41, 106, 149);
}
.address-title{
    align-self: center;
    padding: 20px;
    font-size: 25px;
    color: white;
}

hr{
    border: 1px solid  rgb(41, 85, 109);
}

footer{
    font-size: 10px;
    margin: auto;
}
